name: Java CI with Maven

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: Build with Maven
        uses: ./.github/actions/maven_build

      - name: Build Docker image
        uses: ./.github/actions/docker_build
        with:
          path_dockerfile: 'src/main/docker/Dockerfile.jvm'
          image_name: 'academy'
  docker:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: List Docker images
        run: docker image ls